<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>cheer up タレント大好き</h1>
      <%= link_to 'Sign up now!' , new_user_registration_url, class: "btn btn-warning btn-lg" %>
    </div>
  </div>
</div>

