<header class="jumbotron">
      <div class="container">
        <h1>U Love voice(タレント大好き)</h1>
        <p>今回はBootrapでヘッダー画像の部分を作る。</p>
        <div class="button_wrapper">
        <%= link_to 'Sign up now!' , new_user_registration_url, class: "btn btn-warning btn-lg" %>
        </div>
      </div>
</header>