header {
  height: 35px;
  .navbar {
    width: 100%;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    &.navbar-default {
      background-color: #fff !important;
    }
    .container-fluid {
      margin: 0 !important;
      padding: 0 !important;
    }
    .navbar-inner {
      max-width: 1200px;
      margin: 0 auto;
      .navbar-header {
        h1 {
          margin: 0 !important;
          padding: 10px 0 0 0 !important;
          a {
            width: 200px;
            height: 30px !important;
            margin-top: -3px;
            background: image-url("logo.png") no-repeat 0 0;
            background-size: contain;
            display: block;
            white-space: nowrap;
            text-indent: 99999px;
          }
        }
      }
    }
    }
  }
  

header.jumbotron {
      background: image-url("cover1.jpg") center center no-repeat;
      background-position: center center;
      background-size: cover;
      color: #fff;
      height: 500px;
      
      h1 {
        color: #a52a2a;
      }
      
 
}
      
    
header .container {
  margin-top: 13%;
  height: 500px;
  text-align:center;
  width: 100%;
}



